:root{
    --Pink: hsl(322, 100%, 66%);
    --Light--Pink: hsl(321, 100%, 78%);
    --Very--Dark--Cyan: hsl(192, 100%, 9%);
    --Very--Pale--Blue: hsl(207, 100%, 98%);
    --wave--top: url(./images/bg-section-top-mobile-1.svg);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@700&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
} 
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
/*------------------nav------------------*/
.beginning{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 100px;
}
.head__logo{
    width: 130px;
    height:25px;
    margin-left: 30px;
}
.head__botton{
    display: flex;
    text-decoration: none;
    color: var(--Light--Pink);
    margin-right: 30px;
    width: 100px;
    height: 30px;
    border: 2px solid var(--Light--Pink);
    border-radius: 21px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 5px hsla(321, 100%, 78%, 0.219);
    align-items: center;
    justify-content: center;
}
.head__botton:hover{
    opacity: 0.7;
}
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px 0px;
    justify-content: space-around;
    width: 100%;
    align-self: center;
    padding: 0px 40px;
}
.header__title{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 900;
}
.header__paragraph{
    font-weight: 600;
}
.botton--pink{
    text-decoration: none;
    color: white;
    width: 230px;
    height: 50px;
    background-color: hsl(322, 100%, 66%);
    align-self: center;
    text-align: center;
    line-height: 50px;
    border-radius: 29px;
    margin-top: 50px
}
.botton--pink:hover{
    background-color: var(--Light--Pink);
}
.header__mockups1{
    width: 80%;
    margin-top: 100px;
    align-self: center;
}
/*------------------section------------------*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 100px;
}
/*------------------article 1------------------*/
.content__element1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: space-between ;
    gap: 100px;
    margin: 0px 0px 100px;
}
.element1__data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.data__img{
    display: block;
    width: 31px;
    align-self: flex-start;
}
.data__title{
    font-size: 60px;
    
}
.data__descript{
    opacity: 0.6;
    font-size: 14px;

}
/*------------------article 2------------------*/
.content__element2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: var(--Very--Pale--Blue);
    padding: 200px 30px;
    text-align: center;
}
.bg__1{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
}
.bg__1--top{
    background-image: var(--wave--top);
    background-size:100%  100px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}   
.bg__1--bottom{
    background: scroll white url(./images/bg-section-bottom-mobile-1.svg) top no-repeat;
    background-size:100%  100px;
    bottom: 0;
    left: 0;
}
.element2__illustration{
    width: 70%;
}
.text2__title{
    margin-top: 50px;
    font-size: 25px;
}
.text2__paragraph{
    margin-top: 20px;
}

/*------------------article 3------------------*/
.content__element3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin: 100px 0px;
    padding: 0px 30px;
}
.element3__illustration{
    width: 70%;
    margin-bottom: 80px;
}
.text3__title{
    margin-bottom: 20px;
    font-size: 25px;
}
/*------------------article 4------------------*/
.content__element4{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    align-items: center;
    padding: 200px 30px;
    text-align: center;
    background-color: var(--Very--Pale--Blue);
}
.bg__2{
    width: 100%;
    height: 100px;
    position: absolute;
}
.bg__2--top{
    background: scroll white url(./images/bg-section-top-mobile-1.svg) bottom no-repeat;
    background-size: 100% 100px;
    top: 0;
    left: 0;
}
.bg__2--bottom{
    background: scroll white url(./images/bg-section-bottom-mobile-2.svg) top no-repeat;
    background-size: 100% 100px;
    bottom: 0;
    left: 0;
}
.element4__illustration{
    width: 70%;
    margin-bottom: 80px;
}
.text4__title{
    font-size: 23px;
    margin-bottom: 20px;
}
/*------------------article 5------------------*/
.content__element5{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    text-align: center;
    padding: 100px 0px 300px;
}
.element5__titel{
    font-size: 30px;
    margin-bottom: 40px;
}
.footer__bg{
    width: 100vw;
    height: 100px;
    background: scroll white url(./images/bg-footer-top-mobile.svg) bottom no-repeat;
    background-size: 100% 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*------------------END section------------------*/
/*------------------footer------------------*/
/*------------------final------------------*/
.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    background-color: var(--Very--Dark--Cyan);
    color: white;
}
/*------------------final form------------------*/
.final__form{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    padding: 0px 30px;
    width: 100%;
}
.form__title{
    font-family: 'Open Sans', sans-serif;;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.form__email{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    margin-top: 20px;
    border: 0px;
}
.form__botton{
    display: flex;
    width: 50%;
    height: 45px;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    background-color: var(--Pink);
    padding: 0px;
    border-style: none;
    margin-top: 15px
}
.form__botton:hover{
    background-color: var(--Light--Pink);
}
/*------------------Final contact------------------*/
.final__contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 30px;
}
.contact__logo{
    width: 158px;
    margin-bottom: 20px;
}
.contact__paragraph{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.contact__phone{
    margin-bottom: 20px;
}
.phone--logo{
    width: 19px;
    margin-right: 20px;
}
.email__logo{
    width: 19px;
    margin-right: 20px;
}
.email--contact{
    text-decoration: none;
    color: white;
}.contact__redes{
    display: flex;
    width: 70%;
    height: auto;
}
.redes__icon{
    width: 34px;
    height: 130px;
    margin-right: 15px;
}
.redes__icon--ig{
    background: scroll url(./images/instagram.svg) center no-repeat;
    background-size: contain;
    
}
.redes__icon--face{
    background: scroll url(./images/facebook.svg) center no-repeat;
    background-size: contain;
}
.redes__icon--tw{
    background: scroll url(./images/twitter.svg) center no-repeat;
    background-size: contain;
}

@media (min-width: 875px){
   /*------------------Header------------------*/
   .header__title{
       font-size: 45px;
   }
   .header__paragraph{
       max-width: 644px;
       font-size: 20px;
   }
   .botton--pink{
       width: 304px;
       height: 60px;
       line-height: 60px;
   }
   /*------------------section------------------*/
   /*------------------article 1------------------*/
   .content__element1{
       flex-direction: row;
       justify-content: space-evenly;
   }
   .data__title{
       font-size: 90px;
       margin-bottom: 20px;
   }
   .data__descript{
       font-size: 25px;
   }
   /*------------------article 2------------------*/
   .content__element2{
       flex-direction: row-reverse;
       justify-content: space-around;
       align-items: center;
       gap: 30px;
   }
   .bg__1--top{
       background-image: url(./images/bg-section-top-desktop-1.svg);
   }
   .bg__1--bottom{
       background-image: url(./images/bg-section-bottom-desktop-1.svg);
   }
   .element2__illustration{
       width: 40%;
   }
   .text2{
       justify-self: center;
       width: 40%;
       text-align: start;
   }
   .text2__title{
       font-size: 40px;
       font-weight: 900;
   }
   .text2__paragraph{
       max-width: 550px;
       font-size: 20px;
   }
   /*------------------article 3------------------*/
   .content__element3{
       flex-direction: row;
       justify-content: space-around;
       gap: 60px;
   }
   .element3__illustration{
       width: 40%;
   }
   .text3{
       width: 40%;
       text-align: start;
   }
   .text3__title{
       font-size: 40px;
       font-weight: 900;
       margin-bottom: 20px;
   }
   .text3__paragraph{
       max-width: 550px;
       font-size: 20px;
   }
   /*------------------article 4------------------*/
   .content__element4{
       flex-direction: row-reverse;
       justify-content: space-around;
       align-items: center;
       gap: 30px;
   }
   .bg__2--top{
       background-image: url(./images/bg-section-top-desktop-2.svg);
   }
   .bg__2--bottom{
       background-image: url(./images/bg-section-bottom-desktop-2.svg);
   }
   .element4__illustration{
       width: 40%;
   }
   .text4{
       width: 40%;
       text-align: start;
   }
   .text4__title{
       font-size: 40px;
       font-weight: 900;
   }
   .text4__paragraph{
       max-width: 550px;
       font-size: 20px;
   }
   /*------------------article 5------------------*/
   .element5__titel{
       font-size: 40px;
       font-weight: 900;
   }
   .footer__bg{
    background-image: url(./images/bg-footer-top-desktop.svg);
    }
   /*------------------footer------------------*/
   /*------------------final------------------*/
   .final{
       flex-direction: row-reverse;
       padding-top: 100px;
       justify-content: space-around;
       align-items: flex-start;
    }
   .final__contact{
       width: 30%;
   }
   .final__form{
       width: 40%;
   }
   .form__title{
       font-size: 25px;
   }
   .form__paragraph{
       max-width: 380px;
   }
   .form__contacting{
       display: flex;
       gap: 30px;
   }
   .contact__logo{
       width: 220px;
   }
   .contact__paragraph{
       max-width: 300px;
   }
}
